.detailedArticle-container {
	font-family: "Martel";
}
.detailedArticle-main {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 10px;
	margin: 1.5rem 7rem;
}
.detailedArticle-header {
	display: flex;
	align-items: center;
	margin-left: 7rem;
	margin-top: 2rem;
}
.detailedArticle-header p {
	font-size: 2.9rem;
	font-weight: 700;
	margin-top: -15px;
}
.detailedArticle-header-backArrow {
	font-size: 2rem;
	margin-right: 1rem;
	transition: 0.2s ease;
	cursor: pointer;
}
.detailedArticle-header-backArrow:hover {
	transform: translateX(-4px) scale(1.1);
}
.detailedArticle-header-details {
	margin-top: 1rem;
	margin-left: 2rem;
	display: flex;
}
.detailedArticle-header-topic {
	font-size: 1.6rem;
	letter-spacing: 1px;
	font-weight: 600;
}
.detailedArticle-header-author {
	font-size: 1.1rem;
	margin-top: 5px;
	margin-left: 30px;
	font-style: italic;
}
.detailedArticle-main-upper {
	display: flex;
}
.detailedArticle-upper-images {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 1%;
	margin-top: 50px;
	margin-right: 1%;
}
.imggg{
	width:35vw;
	height:30vh;
	margin-left: 120px;
}
.detailedArticle-upper-images img {
	margin-bottom: 10%;
}
.detailedArticle-upper-content {
	/* padding: 2rem 2.5rem; */
	margin: 2%;
	font-size: 1.2rem;
}
.detailedArticle-main-lower {
	padding: 2rem 2.5rem;
	padding: 2rem 2.5rem;
	font-size: 1.2rem;
}
@media (max-width:600px) {
	.detailedArticle-upper-content{
		font-size: 0.5rem;
		padding: 0.5rem 0.5rem;
	}
	.detailedArticle-main-lower{
		font-size: 0.5rem;
		padding: 0.5rem 0.5rem;
	}
	.detailedArticle-main-image{
		display: flex;
	}
	.imgg{
		width:60px;
		height:60px;
	}
	.detailedArticle-main-upper {
		display: grid;
	}
	.detailedArticle-upper-images{
		display: flex;
		padding: 0.5rem 0.5rem;
	}
	.detailedArticle-header-topic {
		font-size: 1.1rem;
		letter-spacing: 1px;
		font-weight: 600;
	}
	.detailedArticle-header-author {
		font-size: 0.7rem;
		font-style: italic;
		margin-left: 2px;
	}
	.detailedArticle-container{
		padding: 10px 10px;
		width:100vw;
	}
	.detailedArticle-main {
		display: flex;
		flex-direction: column;
		border: 1px solid black;
		border-radius: 10px;
		margin: 1.5rem 1.5rem;
	}
	.detailedArticle-header {
		display: flex;
		align-items: center;
		margin-left: 1.5rem;
		margin-top: 2rem;
	}
	.detailedArticle-header-backArrow {
		font-size: 1.2rem;
		margin-right: 1rem;
		transition: 0.2s ease;
		cursor: pointer;
	}
	.detailedArticle-header p {
		font-size: 1.4rem;
		font-weight: 700;
		margin-top: -5px;
	}
	.imggg{
		width:35vw;
		height:30vh;
		margin-left: 120px;
	}
	.detailedArticle-header-details {
		margin-top: 1rem;
		margin-left: 2rem;
		display: grid;
	}
	
}