.blogsnavbar-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	background: linear-gradient(
		269.54deg,
		#ffa852 -9.52%,
		rgba(255, 226, 90, 0.35) 100%
	);
}
.blogsnavbar-logo img {
	/* width: 15%;
	height: 15%; */
	width: 67px;
	height: 67px;
	transition: ease 0.2s;
}
.blogsnavbar-logo img:hover {
	transform: scale(1.1);
}
.blogsnavbar-search_box {
	/* display: flex; */
	/* align-items: center;
	justify-content: center; */
	/* padding: 0px 100px; */
	width: 700px;
	margin-left: 230px;
	margin-right: 250px;
}
.blogsnavbar-search_box input {
	width: 90%;
	padding: 0.7rem;
	border: none;
	outline: none;
	border-radius: 5px;
	/* margin-right: 5rem; */
}
.blogsnavbar-hambugermenu {
	margin-right: 1rem;
	transition: ease 0.3s;
}
.blogsnavbar-hambugermenu img:hover {
	transform: scale(1.1);
}
@media only screen and (max-width: 700px) {
	.blogsnavbar-search_box {
		width: 200px;
		margin-left: 30px;
		margin-right: 50px;
	}
}
