.article-container {
	margin-bottom: 1.2rem;
	display: flex;
	padding:20px;
	font-family: "Martel";
	flex-direction: row;
	align-items: center;
	border: 1px solid black;
	width: 60rem;
	height:190px;
	overflow: hidden;
	border-radius: 5px;
	outline: none;
	transition: 0.2s ease;
	margin-left:-50px;
}
.article-container:hover {
	transform: translateY(-3px) scale(1.01);
	-webkit-box-shadow: 7px 17px 21px -7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 7px 17px 21px -7px rgba(0, 0, 0, 0.75);
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.article-image {
	
	width: 200px;
	margin-bottom: -9px;
}
.ig{
	width:152px;
	height:148px;
}
.article-content {
	flex:3;
	padding: 0.5rem 0;
	margin-left:-25px;
	width:503px;
	height:128px;
	margin-bottom: 10px;
}
.article-header {
	margin-bottom: 0.7rem;
	font-size: 1.5rem;
}
.article-main {
	margin-top: 25px;
	margin-bottom: 0.7rem;
	width:670px;
}
.article-footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.01rem;
	margin-top: -29px;
	color:#666666;
}
.article-footer-createdAt {
	padding-right: 1rem;
	margin-left: 0.7rem;
}
@media (max-width:600px) {
	.article-main{
		font-size: 0.5rem;
	}
	.article-container {
		margin-bottom: 1.2rem;
		display: flex;
		padding:20px;
		font-family: "Martel";
		flex-direction: row;
		align-items: center;
		border: 1px solid black;
		width:90vw;
		height:110px;
		
		border-radius: 5px;
		outline: none;
		transition: 0.2s ease;
	}
	.article-container:hover {
		transform: translateY(-3px) scale(1.001);
		-webkit-box-shadow: 7px 17px 21px -7px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 7px 17px 21px -7px rgba(0, 0, 0, 0.75);
		box-shadow: 7px 17px 21px -7px rgba(0, 0, 0, 0.75);
	}
	.article-content {
		flex:3;
		width:750px;
		height:128px;
		margin-left: 20px;
		margin-bottom: -40px;
	}
	.ig{
		width: 60px;
		height: 80px;
	}
	.article-main{
		margin-top: 25px ;
		width:240px;
		height:70px;
		font-size: 7px;
		z-index: -1;
	}
	.article-header-title{
		font-size: 0.6rem;
	}
	.article-footer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: 0.5rem;
		z-index: 1;
		position: relative;
		top:17px;
	}
}
