.articles-main-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.articles-header {
	font-family: "Martel";
	width: 100%;
	height:65px;
	font-size: 55px;
	font-weight: 600;
	margin-bottom: 50px;
	align-self: flex-start;
}
.articles-container{
	width: 100%;
}

@media (max-width:600px) {
	.articles-header {
		font-family: "Martel";
		font-size: 25px;
		font-weight: 600;
		margin-bottom: 0.5rem;
	}
}
