.articles-main-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center ;
}
.articles-header {
	font-family: 'Mulish';
	width: 100%;
	height:65px;
	letter-spacing: 2px;
	font-size: 55px;
	font-weight: 600;
	margin-bottom: 50px !important;
	align-self: flex-start;
}
.articles-container{
	width: 100%;
	margin-bottom: 20px;
	margin-left:100px;
}

@media (max-width:600px) {
	.articles-header {
		font-family: "Martel";
		font-size: 25px;
		font-weight: 600;
		margin-bottom: 0.5rem;
	}
}
