.articles-main-container {
	padding: 0.5% 5%;
}
.articles-header {
	font-family: "Martel";
	width:200px;
	height:65px;
	font-size: 55px;
	font-weight: 600;
	margin-bottom: 50px;
	
}
@media (max-width:600px) {
	.articles-header {
		font-family: "Martel";
		font-size: 25px;
		font-weight: 600;
		margin-bottom: 0.5rem;
	}
}
