.profile-main-container {
	display: flex;
	flex-direction: row;
	margin-left: 2rem;
	margin-top: 2rem;
}

.profile-main-header {
	position: relative;
	max-width: 938px;
	width: 60%;
	/* height: 1254px; */
	background: white;
	border: 1px solid #b9b9b9;
	border-radius: 9px;
}
.profile-main-navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.profile-main-navbar-child {
	/* background-color: ; */
	padding: 20px 163px;
	font-size: 1.4rem;
	font-family: "Mulish";
	font-weight: 500;
}
.profile-main-navbar-blog {
	width: 50vw;
	height: 10vh;
	justify-items: center;
	align-items: center;
}
.profile-main-navbar-events {
	width: 50vw;
	height: 10vh;
	justify-items: center;
	align-items: center;
}
.ab {
	text-align: center;
	font-size: 1.7rem;
	font-family: " Mulish ";
	font-weight: 550;
	margin-top: 1.1rem;
}

@media (max-width: 600px) {
	.ab {
		text-align: center;
		font-size: 0.9rem;
		font-family: " Mulish ";
		font-weight: 550;
		margin-top: 1.1rem;
	}
}
