.container1{
    height:17rem;
    width:16.875rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-size: cover;
    backface-visibility: visible;
    margin-bottom: 2.1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container1:hover{
    
    cursor: pointer;
    transform: translateY(-3px) scale(1.1);
	-webkit-box-shadow: 7px 17px 21px -7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 7px 17px 21px -7px rgba(0, 0, 0, 0.75);
	box-shadow: 7px 17px 21px -7px rgba(0, 0, 0, 0.75);
}
.txt{
    text-align: center;
    justify-items: center;
}
.lnk{
    align-items: center;
    align-content: center;
    justify-items: center;
}
@media (max-width:600px) {
    .container1{
        height:150px;
        width:100px;
        border:0.2px solid black;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        background-size: cover;
        backface-visibility: visible;
        margin-bottom: 3.9rem;
        margin-left: 8px;
    }
    .container1:hover{
        box-shadow: 2px 2px 0.5px 0.5px gray;
        cursor: pointer;
    }
    
}