.container2{
    margin-top:3px;
    margin-left: 125px;
}
.a{
    font-family: "Martel";
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
    margin-left: 10px;
}
@media (max-width:600px) {
    .a{
        font-family: "Martel";
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        margin-left: 10px;
    }
    .container2{
        margin-top:3px;
        margin-left: 20px;
    }
}