.grid6 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grid-heading {
    box-sizing: border-box;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    text-shadow: 2px 0 0 #000000;
    font-size: 65px;
    line-height: 82px;
    color: #000000;
    margin: 114px 0 40px 0;
}
.tile-row {
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}
.tile-row:not(:nth-child(2)) {
    /* the first tile-row is the 2nd child of its parent element */
    box-sizing: border-box;
    margin: 60px 0;
}
.tile-border-wrapper {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22vw;
    height: 19vw;
    border-radius: 20%;
    background: linear-gradient(269.54deg, #FFA852 -9.52%, rgba(255, 226, 90, 0.35) 100%);
    padding: 2.5vw;
    margin: 0 35px;
    text-decoration: none;
    transition: all 0.2s ease-out;
}
.tile-border-wrapper:hover {
    transform: scale(1.1);
}
.tile-text-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 20%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    transition: all 0.2s ease-out;
}
.tile-border-wrapper:hover .tile-text-wrapper {
    box-shadow: 0px 50px 100px -20px rgba(255, 168, 82, 0.5), 0px 20px 40px -30px rgba(255, 226, 90, 0.5);
    transform: translateY(-78%);
}
.tile-text {
    box-sizing: border-box;
    text-align: center;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}
.tile-description {
    visibility: none;
    position: absolute;
    opacity: 0;
    padding: 0 2vw; /* equal to tile-border-wrapper */
    transition: opacity 0.2s ease-out;
    transform: translateY(20px);
    z-index: -1;
}
.tile-border-wrapper:hover .tile-description {
    opacity: 1;
}
.tile-description-text {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}

@media screen and (max-width: 1024px) {
    .grid-heading {
        font-size: 50px;
    }
    .tile-text {
        font-size: 20px;
    }
    .tile-row, .tile-row:not(:nth-child(2)) {
        flex-direction: column;
        margin: 10px 0;
    }
    .tile-row:not(:nth-child(3)) {
        margin: 0;
    }
    .tile-border-wrapper {
        margin: 10px 0;
        width: 38vw;
        height: 35vw;
    }
}

@media screen and (max-width: 768px) {
    .tile-description-text {
        display: none;
        /* disable this effect on smartphones */
    }
    .tile-border-wrapper:hover .tile-text-wrapper {
        transform: none;
        box-shadow: none;
        /* disable this effect on smartphones */
    }
    .tile-text {
        font-size: 4.6vw;
        line-height: none;
    }
    .tile-border-wrapper {
        margin: 30px 0;
        width: 58vw;
        height: 55vw;
    }
}