.editor-container {
	margin: 3% 8%;
	flex: 2;
}
.createBlog-container {
	display: flex;
	justify-content: space-between;
	font-family: "Mulish";
}
.createBlog-container-sidebar {
	margin-top: 120px;
}
.publishbutton {
	padding: 1rem 1.2rem;
	color: black;
	background-color: #ffc776;
	border: none;
	border-radius: 10px;
	outline: none;
	font-size: 1rem;
}

.createBlog-heading {
	font-size: 1.4rem;
	margin-bottom: 1.2em;
}
.createBlog-publishbutton {
	margin-top: 1em;
	padding: 0.5em 2em;
	font-size: 1rem;
	background: #ffc776;
	border: none;
	border-radius: 6px;
}
