.view-blog-container {
	font-size: 1.2rem;
	margin: 2rem;
}
.view-blog-title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
}
.view-blog-authorName {
	text-align: center;
	font-style: italic;
	margin-bottom: 2rem;
}
.view-blog-content {
	padding: 1rem;
	border: 3px solid rgb(204, 204, 204);
	border-radius: 5px;
}
