.blog-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 2px solid black;
	border-radius: 10px;
	outline: none;
	padding: 1rem;
	margin-bottom: 1.2em;
	max-width: 500px;
}
.blog-header {
}
.blog-main {
	margin: 1rem 0;
}
.blog-footer {
	display: flex;
	justify-content: flex-start;
}
.blog-footer-like img {
	width: 1.5rem;
	height: 1.5rem;
	margin-bottom: 15px;
}
.blog-footer p {
	margin-left: 0.3rem;
	font-size: 1.2rem;
}
