.video-area {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video-player {
    width: 100vw;
    height: 35vw;
}
.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
}
.prev-button, .next-button {
    box-sizing: border-box;
    margin: 20px 0;
    padding: 15px 33px;
    gap: 10px;
    width: 150px;
    background: #FFB45F;
    border: none;
    border-radius: 18.0556px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 17.3333px;
    line-height: 21px;
    color: #000000;
    transition: all 0.2s ease-out;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.prev-button:hover, .next-button:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.prev-button::before {
    content: '\2190\00A0';
    transition: all 0.2s ease-out;
}
.next-button::after {
    content: '\00A0\2192';
    transition: all 0.2s ease-out;
}
.prev-button:active::before, .next-button:active::after {
    transform: scale(2, 1);
    cursor: pointer;
}

.add-videos-button {
    margin: 0;
    padding: 0;

    position: relative;
    top: -81px;
    left: calc(50% - 36px); /* 72/2 = 36px (centers the element) */

    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    box-shadow: 0 0 0 0 white;
    background: linear-gradient( 269.54deg, #ffa852 -9.52%, rgba(255, 226, 90, 0.35) 100% );
    border-radius: 50%;
    transform: rotate(45deg);
}

.add-videos-button:hover>svg {
    cursor: pointer;
    transition: transform 1s ease; /* transition applies only on 'mouseenter' event */
    transform: rotate(720deg);
}

/* Video details */
.video-info {
    min-height: 666px;
    width: 90vw;
    margin: 60px auto;
    background: #FFF7ED;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
}
.video-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 44px;
}
.video-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    margin: 40px 0;
    width: 100%;
}
.video-description {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 134%;
    /* or 34px */
    text-align: justify;
    letter-spacing: 0.015em;
    color: #000000;
    width: 100%;
}
.video-thumb {
    width: 35vw;
    height: 30vw;
    border-radius: 20px;
    border: none;
}

@media screen and (max-width: 1024px) {
    .video-player {
        height: 40vh;
    }

    .video-title {
        font-size: 32px;
        margin-top: 0;
    }

    .video-description {
        font-size: 20px;
    }

    .prev-button:hover, .next-button:hover {
        transform: none;
        cursor: pointer;
    }

    .video-text {
        padding: 7vw 5vw;
    }
    .video-info {
        min-height: unset;
        width: 100vw;
        border-radius: 0;
        padding: 0;
    }
    .video-title {
        text-align: center;
    }
    .video-thumb {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .add-videos-button {
        top: 0;
    }
}
