

.container{
    width: 80%;
    min-height: 31.25rem;
    margin: 1.28rem 10%;
    display: flex;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .left{
        width: 60%;
        min-height: 31.25rem;
        background-color: #FFF7ED;

        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 60px;
        font-size: 20px;

        p{
            font-family: 'Martel';
        }

        button{
            padding: 0.5rem 1.2rem;
            margin-top: 20px;
            align-self: flex-start;
            background: #FFB45F;
            border-radius: 18.0556px;
            border: 0px;
            font-family: 'Inter';
            font-weight: 400;
            font-size: 1rem;
            line-height: 21px;
        }
    }

    .right{
        width: 40%;
        min-height: 31.25rem;

        img{
            width: 100%;
            height: 100%;
        }
    }
}