
.event-container{
    width: 100%;
    cursor: pointer;
    min-height: 30rem;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #B9B9B9;
    border-radius: 5px;
    font-style: normal;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 1.5vw;

    .left{
        width: 35%;
        height: auto;

        img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }
    }

    .right{

        .firstdetails, .lastdetails{
            display: flex;
            justify-content: space-between;
        }
        
        width: 65%;
        height: auto;

        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0px 3vw;

        .firstdetails{
            width: 98%;
            align-items: center;
            margin: 1rem 0px;
            align-self: flex-start;
            .time{
                font-size: 1.4vw;
            }

            h2{
                align-self: flex-start;
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 400;
                font-size: 2.2vw;
                line-height: 131.02%;
                letter-spacing: 0.015em;
            }
        }

        p{
            align-self: flex-start;
            width: 80%;
            margin-right: 20%;
            font-family: 'Martel';
            font-weight: 300;
            font-size: 1vw;
            line-height: 131.02%;
            letter-spacing: 0.015em;
            margin: 0.5rem 0;
        }

        .lastdetails{
            margin-top: 2rem;
            width: 100%;
            font-family: 'Mulish';
            font-weight: 400;
            font-size: 1.1vw;
            line-height: 131.02%;
            letter-spacing: 0.015em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #666666;

            .modeVenue{
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .date{
                width: 3.8vw;
                height: 4.2vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: #FFC776;
                border-radius: 7px;
                
                font-family: 'Mulish';
                font-weight: 700;
                font-size: 1.2vw;
                line-height: 102.52%;
                text-align: center;
                letter-spacing: 0.015em;
                color: #000000;
            }
        }
    }
}



.event-container:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.popup{
    width: 60vw;
    height: 90vh;
    position: fixed;
    background-color: white;
    font-size: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1vh 3vw;
    top: 5%;
    left: 20%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 20px;
}

@media screen and (max-width: 992px) {
    .event-container{
        flex-direction: column;

        .left, .right{
            width: 100%;
        }

        .right{
            .firstdetails {
                h2{
                    font-size: 3.4vw;
                } 
                .time{
                    font-size: 2.5vw;
                }
            }
            p{
                font-size: 2vw;
            }

            .lastdetails{
                font-size: 2vw;

                .date{
                    width: 4.8vw;
                    height: 5.2vw;
                    font-size: 1.8vw;
                }
            }
        }
    }

    .popup{
        width: 80vw;
        left: 10%;
    }
}