
.events{
    width: 100%;
    color: black;
    font-style: normal;

    .content{

        width: 80%;
        margin: 1.875rem 10%;

        display: flex;
        flex-direction: column;

        .topDiv{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2.2rem;

            h1{
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                font-size: 3rem;
            }

            a{
                display: flex;
                align-items: center;

                h4{
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1.3rem;
                    line-height: 1.5rem;
                }


                div{
                    margin-left: 1rem;
                    background-color: #FFC776;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5rem 0.7rem;
                    border-radius: 6px;
                }
            }

        }



        .pageContainer{

            border: 1px solid #B9B9B9;
            display: flex;
            flex-direction: column;

            .divButtons{
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                button{
                    text-align: center;
                    width: 33.33%;
                    cursor: pointer;
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2.5vw;
                    padding: 0.8vw;
                    color: #000000;
                    background-color: #FFFFFF;
                }
                button:hover{
                    opacity: 0.8;
                }
            }


            .bottomEventContainer{
                width: 100%;
                padding: 4vw;
            }
        }
    }

    
}

@media screen and (max-width: 992px) {
    .events{
        .content{
            width: 90%;
            margin: 1.875rem 5%;
            .topDiv{
                height: max-content;
                margin-bottom: 1.8rem;
                
                h1, a > h4{
                    font-size: 1rem;   
                }
            }
            .pageContainer{
                .divButtons {
                    button{
                        font-size: 3vw;
                        padding: 1vw;
                    }
                }
            }
        }

    }
}

