
.events{
    width: 100%;
    color: black;
    font-style: normal;

    .content{

        width: 80%;
        margin: 1.875rem 10%;

        display: flex;
        flex-direction: column;

        h1{
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 700;
            font-size: 3rem;
            line-height: 6rem;
            margin-bottom: 1.8rem;
        }


        .pageContainer{

            background: #FFFFFF;
            border: 1px solid #B9B9B9;
            display: flex;
            flex-direction: column;

            .divButtons{
                width: 100%;

                button{
                    width: 33.33%;
                    cursor: pointer;
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 3rem;
                    padding: 0.8rem;
                    color: #000000;
                    background-color: #FFFFFF;
                }
                button:hover{
                    opacity: 0.8;
                }
            }


            .bottomEventContainer{
                width: 100%;
                padding: 4rem;
            }
        }
    }

    
}

