
.events{
    width: 100%;
    color: black;
    font-style: normal;

    .content{

        width: 80%;
        margin: 1.875rem 10%;

        display: flex;
        flex-direction: column;

        .topDiv{
            display: flex;
            align-items: center;
            justify-content: space-between;

            h1{
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                font-size: 3rem;
                line-height: 6rem;
                margin-bottom: 1.8rem;
            }

        }



        .pageContainer{

            border: 1px solid #B9B9B9;
            display: flex;
            flex-direction: column;

            .divButtons{
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                button{
                    text-align: center;
                    width: 33.33%;
                    cursor: pointer;
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2.5vw;
                    padding: 0.8vw;
                    color: #000000;
                    background-color: #FFFFFF;
                }
                button:hover{
                    opacity: 0.8;
                }
            }


            .bottomEventContainer{
                width: 100%;
                padding: 4vw;
            }
        }
    }

    
}

@media screen and (max-width: 992px) {
    .events{
        .content{
            .pageContainer{
                .divButtons {
                    button{
                        font-size: 3vw;
                        padding: 1vw;
                    }
                }
            }
        }
    }
}

