.containeer{
    width: 100vw;
    display: flex;
    align-items: center;
    display: flex;
    padding:5vw;
    margin-left: 5vw;
}
.cont2{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    padding-top: 1rem;
    padding-right: 15vw;
    flex-wrap: wrap;
    overflow-x: scroll;
}

@media (max-width:600px) {
    .containeer{
        width: 90vw;
    }
    
    .cont2{
        margin-top: 0.6rem;
        display: flex;
        justify-content: space-evenly;
        width: 90vw;
        padding-top: 1rem;
        padding-right: 5vw;
        flex-wrap: wrap;
        overflow-x: scroll;
    }
    
    
  }