.profile-event-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 2px solid #b9b9b9;
	border-radius: 10px;
	outline: none;
	padding: 1rem;
	margin-top: 1.2em;
	width: 80vw;
	margin-left: 10vw;
	margin-right: 10vw;
	font-family: "Mulish";
	
}
.profile-event-header {
	display: flex;
	justify-content: space-between;
}
.profile-date {
	display: flex;
	justify-content: space-between;
	width: 30%;
}
.profile-event-header-name {
	font-size: 1.3rem;
	font-weight: 600;
	margin-bottom: 10px;
}
.profile-event-main {
	margin: 1rem 0;
}
.profile-event-footer {
	display: flex;
	justify-content: space-between;
}
.profile-event-register-button {
	font-size: 1rem;
	font-family: "Mulish";
	background-color: #ffffff;
	border: 3px solid #5fca64;
	color: #5fca64;
	border-radius: 10px;
	padding: 0.5rem 2rem;
}
.profile-event-footer p {
	margin-left: 0.3rem;
	font-size: 1.2rem;
}
.profile-footer {
	display: flex;
	justify-content: space-between;
	width: 30%;
	margin-top: 12px;
}
.profile-mode {
	opacity: 0.7;
	font-weight: 500;
}
.profile-b {
	font-weight: 600;
}
@media (max-width: 600px) {
	.profile-event-header-name {
		font-size: 13px;
		font-weight: 600;
		margin-bottom: 10px;
		margin-left: 10px;
		margin-top: 10px;
	}
	.profile-b {
		font-size: 7px;
		font-weight: 400;
		margin-left: 10px;
		margin-top: 10px;
	}
	.profile-date {
		justify-content: space-between;
		width: 60%;
	}

	.profile-b-date{
		font-size: 7px;
		font-weight: 400;
		margin-right: 10px;
		margin-top: 10px;
	}
	.profile-event-main-content {
		font-size: 7px;
		font-weight: 400;
		line-height: 8.04px;
		margin-left: 10px;
		margin-top: 10px;
		
	}

	.profile-event-register-button {
		width: 53px;
		height: 19px;
		display: flex;
		justify-content: center;
		align-content: center;
		/* margin:auto; */
		border-radius: 4px;
		 padding-bottom: 12px;  
		margin-top: 20px; 
		margin-right: 10px;
	}
	.profile-mode {
		font-size: 10px;
		font-weight: 400;
		font-family: "Mulish";
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.profile-r {
		font-size: 7px;
		text-align: center;
		justify-content: center;
	}

	.profile-event-container{
		width: 90vw;
	margin-left: 5vw;
	margin-right: 5vw;
	padding: 0;
	}

	.profile-event-footer p {
		margin-left: 0.3rem;
		font-size: 10px;
		padding-top: 0;
	}

	

	
}
