.blogs-sidebar-container {
	font-family: "Mulish";
	/* margin-top: -172%; */
	position: fixed;
	top: 180px;
}
.blogs-sidebar-list {
	list-style: none;
}
.blogs-sidebar-list-element {
	font-size: 1.2rem;
	margin-bottom: 0.5em;
	padding: 10px 15px;
	border-radius: 10px;
	transition: 0.2s ease;
	cursor: pointer;
}
a {
	text-decoration: none;
	color: black;
	font-weight: 600;
}
.blogs-sidebar-list-element:hover {
	background-color: #f79711;
}
@media only screen and (max-width: 700px) {
	.blogs-sidebar-container {
		/* margin-top: -172%; */
		/* top: 180px; */
		font-family: "Mulish";
		/* position: fixed; */
		width: 150px;
	}
	.blogs-sidebar-list-element {
		font-size: 1rem;
		margin-bottom: 0.5em;
		border-radius: 10px;
		transition: 0.2s ease;
		cursor: pointer;
	}
}
