

.my{
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 5vh 5vw;
    justify-content: space-between;
}
.child1{
    width: 60vw;
}
.child2 {
    width: 25vw;
}

@media (max-width:600px) {
    .my{
        flex-direction: column;
    }
    .child1 .child2 {
        width: 90vw;
    }
}

