
@media (min-width:600px) {
    .my{
        display: flex;
        margin-top: 50px;
    }
    .we{
        display:flex;
    }
    
}
@media (max-width:600px) {
    .my{
        margin-top:20px;
    }
    .we{
        display:flex;
    }
    
}
