.blogs-main-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.blogs-container {
	padding: 0 9rem;
	flex: 2;
	margin-left: 150px;
	margin-right: 170px;
	margin-top: 1.5rem;
}
.blogs-container-header {
	display: flex;
	justify-content: space-between;
	font-family: "Mulish";
	font-size: 1.2rem;
	font-weight: 600;
}
.blogs-container-sort {
	display: flex;
}
.blogs-container-sort p {
	margin-right: 20px;
	transition: ease-in 0.1s;
}
.blogs-container-sort p:hover {
	border-bottom: 4px solid #f7a22b;
	border-radius: 2px;
}
.blogs-container-header-createBlog {
	display: flex;
}
.blogs-container-header-createBlog p {
	transition: ease-in 0.1s;
}
.blogs-container-header-createBlog p:hover {
	border-bottom: 4px solid #f7a22b;
	border-radius: 2px;
}
.blogs-container-header-createBlog img {
	margin-left: 10px;
	padding: 5px 7px;
	border-radius: 3px;
	background-color: #ffc776;
}
.blogs-recently-queried {
	font-family: "Mulish";
	position: absolute;
	right: 0;
	top: 180px;
	/* margin-top: -180%; */
	margin-right: 5em;
}
.blogs-recently-queried-heading {
	font-size: 1.2rem;
	color: #000000;
	font-weight: 600;
	margin-bottom: 20px;
}
.blogs-recently-queried-list {
	list-style: none;
	padding: 0;
}
.blogs-recently-queried-list-element {
	font-size: 1rem;
	color: #272727;
	cursor: pointer;
	text-align: left;
	margin-bottom: 2rem;
	font-weight: 200;
}

@media only screen and (max-width: 600px) {
	.blogs-recently-queried {
		font-family: "Mulish";
		position: relative;
		margin-right: 100px;
		display: none;
	}
	.blogs-container {
		padding: 0 9rem;
		flex: 1;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 1rem;
	}
	.blogs-container-sort {
		font-size: 0.7rem;
	}
}
