.blogs-main-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.blogs-container {
	margin-top: 1.5rem;
}
.blogs-container-header {
	display: flex;
	justify-content: space-around;
	font-family: "Mulish";
	font-size: 1.2rem;
	font-weight: 600;
}
.blogs-container-sort {
	display: flex;
}
.blogs-container-sort p {
	margin-right: 20px;
}
.blogs-container-header-createBlog {
	display: flex;
}
.blogs-container-header-createBlog img {
	margin-left: 10px;
	padding: 5px 7px;
	border-radius: 3px;
	background-color: #ffc776;
}
.blogs-recently-queried {
	font-family: "Mulish";
	margin-top: -250px;
}
.blogs-recently-queried-heading {
	font-size: 1.2rem;
	color: #000000;
	font-weight: 600;
	margin-bottom: 20px;
}
.blogs-recently-queried-list {
	list-style: none;
}
.blogs-recently-queried-list-element {
	font-size: 1rem;
	color: #272727;
	margin-bottom: 0.5em;
	cursor: pointer;
	text-align: left;
	margin-bottom: 2rem;
	font-weight: 200;
}
